# Redirect ALL requests to the public subfolder.
## For web hosts that force you to have your source inside the public html folder.

#enable url rewriting
RewriteEngine on

#Force all requests to go to your projects nested public folder
RewriteCond %{REQUEST_URI} !^/public
RewriteRule ^(.*)$ /public/$1 [NC,L]
